.container, .piecontainer {
  width: 50%;
  margin-top: 100px;
  float: left;
}


select {
  font-size: 15px;
  margin: 0 30px;
}

#mybutton {
  font-size: 20px;
  color: white;
  background: red;
  margin-left: 20px;
}
#mybutton:hover {
  background: white;
  color: red;
}

input {
  padding: 10px;
  font-size: 20px;
}

select, #mybutton, input {
  margin-top: 20px;
}
