.container, .piecontainer {
  width: 50%;
  margin: 0 auto;
  float: left;
}

.container {
  margin-top: 50px;
}
select {
  font-size: 15px;
  margin: 0 20px;
}

#mybutton {
  font-size: 20px;
  color: white;
  background: red;
  margin-left: 15px;
}
#mybutton:hover {
  background: white;
  color: red;
}

input {
  padding: 10px;
  font-size: 20px;
}
